* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left {
    background-color: aliceblue;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}
.right {
    flex-basis: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: lightgray;
}
.firstrow {
    background-color: white;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.secondrow {
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}
.title {
    background-color: white;
    width: 100px;
    height: 50px;
}
.propic {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
}
.propicqueary {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
}

@media screen and (max-width: 780px) {
    .right {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    .main {
        gap: 0;
    }
    .propic {
        display: none;
    }
    .propicqueary {
        display: block;
    }
}